<!DOCTYPE html>
<html>
<head>
  <title>Partsinventory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bg">
<div class="logo"><img src="./assets/skyeye.png"></div>
  <%= render partial: "shared/nav" %>
  <div id="main" class="container">

    <%= yield %>
  </div>
</body>
</html>
