<!DOCTYPE html>
<html>
<head>
  <title>Partsinventory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <ul class="nav ">
	<li><%= link_to "Members Data",members_path %></li>
	<li><%= link_to "Add Member",new_member_path %></li>
	<li><%= link_to "Items Data",items_path %></li>
	<li><%= link_to "Add Item",new_item_path %></li>
    </ul>
<%= yield %>
</div>
</div>
</body>
</html>
